﻿@{
	ViewBag.Title = "Home Page";
}

<style>
	.bigBox {
		padding: 12px;
		border: 2px solid #7c99d1;
		FONT-SIZE: 20PX;
	}
</style>
<hr />
<div id="pannel" style="text-align: center" >

	<a>Name</a>
	<br/>
	<input type="text" class="bigBox" v-model="name"/> <br/> <br/>

	<a>Medicare Number</a>
	<br/>
	<input type="text" class="bigBox" v-model="medicare"/> <br/><br/>

	<a>Date Of Birth</a>
	<br/>
	<input type="text" class="bigBox" v-model="dob"/> <br/> <br/>

	<a class="btn btn-primary btn-lg" v-on:click="save"> Register </a>

	<br/>
	
	<br/>
	<div class="topo" style="height: 264px"></div>

</div>


@section scripts {

	<script src="~/Scripts/vue.js"></script>
	<script src="~/Scripts/qwest.min.js"></script>

	<script>
		var vm = new Vue({
			el: '#pannel',
			data: {
				name: "",
				medicare: "",
				dob: ""
			},
			methods: {
				save: function() {
					//qwest
					//	.post("//api", {


					//	})
					//	.then(done)
					//	.catch((e, xhr, response) => {
					//		console.log(e);
					//	});
					
					function done(guid) {

						window.location = "/select"

					}
					
					window.location = "/home/select";
				}
			}
		});


	</script>


}