﻿@{
    ViewBag.Title = "Contact";
}


<style>

	.topo {
		background: #4fcba8 !important;
		color: white;
	}


	.topo1 {
		background: #3498db !important;
		color: white;
	}


	.topo2 {
		background: #8e44ad !important;
		color: white;
	}


	.topo3 {
		background: #f1c40f !important;
		color: white;
	}

	.topo4 {
		background: #2ecc71 !important;
		color: white;
	}

	.topo5 {
		background: #7f8c8d !important;
		color: white;
	}


	.topo6 {
		background: #3498db !important;
		color: white;
	}

	.topo7 {
		background: #8e44ad !important;
		color: white;
	}


</style>


<hr style="    margin-bottom: 0px;" />

<div id="pannel" style="text-align: center" >
	
	
	<div class="row">
		<div class="col-xs-6 topo"
		     v-for="item in resources"
			 v-bind:class="item.classs"
		     style=" font-weight: bold; height: 150px; padding-top: 30px; border: 5px solid white;   "		    
		>
			<i v-bind:class="item.other" aria-hidden="true" style="    font-size: 45px;"></i>
			<br/>
			<a style="color: white; font-weight: lighter; font-size: 12px;"  v-bind:href="item.linkk"    >{{item.name}}</a>
			
		</div>
	</div> 

	

</div>
@section scripts {

	<script src="~/Scripts/vue.js"></script>
	<script src="~/Scripts/qwest.min.js"></script>

	<script>
		var vm = new Vue({
			el: '#pannel',
			data: {
				resources: [
					{ name: "My Health Record", selected: 0, classs: "topo", linkk: "https://myhealthrecord.gov.au/internet/mhr/publishing.nsf/Content/before_you_register", other:"fa fa-medkit"},
					{ name: "Rx Connect", selected: 0, classs: "topo1", other: "fa fa-link"},
					{ name: "Telehealth Portal", selected: 0, classs: "topo2", linkk: "https://play.google.com/store/apps/details?id=com.pexip.android&hl=en", other: "fa fa-wheelchair"},
					{ name: "Private Pathology", selected: 0, classs: "topo3", linkk: "https://www.sonicdx.com.au/Login?ReturnUrl=%2f", other: "fa fa-heartbeat"},
					{ name: "ACP", selected: 0, classs: "topo4", linkk: "", other: "fa fa-stethoscope"},
					{ name: "Discharge Summary", selected: 0, classs: "topo5", linkk: "", other: "fa fa-hospital-o"},
					{ name: "COPD", selected: 0, classs: "topo6", linkk: "", other: "fa fa-h-square"},
					{ name: "NGO Record", selected: 0, classs: "topo7", linkk: "", other: "fa fa-file-text"},
				],

			},
			methods: {
				save: function () {
					alert(this.name + this.medicare + this.dob);
					window.location = "/home/select";
				},
				select: function (item) {
					item.selected = !item.selected;
				},
				next: function() {
					window.location = "/home/main";
				}
			}
		});


	</script>


}

