﻿@{
	ViewBag.Title = "About";
}
<style>
	.selected {
		background: #494e58 !important;
	}

	.BTxxx {
		background: rgb(57, 95, 114);
		border-bottom: 2px solid rgb(34, 67, 83);
		color: white;
	}
</style>
<hr />
<div id="pannel" style="text-align: center">

	<div style="padding: 10px; background: #428bca; " v-on:click="next">
		<a style=" font-weight: bold; color: white; font-size: 14px;"> Goto My Portal  </a>
	</div>
	<br/>	
	<div v-for="item in resources" style="padding: 10px;" v-on:click="select(item)" class="BTxxx" v-bind:class="{ selected: item.selected }">
		<a style="color: white; font-weight: bold; font-size: 14px; "> {{item.name}} </a>
	</div>


	<div v-for="item in intergrations" style="padding: 10px; " class="BTxxx" v-on:click="select(item)" v-bind:class="{ selected: item.selected }">
		<a style="color: white; font-weight: bold; font-size: 14px;"> {{item.name}} </a>
	</div>

</div>

@section scripts {

	<script src="~/Scripts/vue.js"></script>
	<script src="~/Scripts/qwest.min.js"></script>

	<script>
		var vm = new Vue({
			el: '#pannel',	
			data: {
				resources: [
					{ name: "Telehealth Portal", selected: 0 },
					{ name: "My Health Record", selected: 0 },
					{ name: "COPD", selected: 0 },
					{ name: "Pathology", selected: 0 },
					{ name: "Imaging", selected: 0 },
					{ name: "NGO Record", selected: 0 },
					{ name: "ACP", selected: 0 },
				],
				intergrations: [
					{ name: "Discharge Medications", selected: 0 },
					{ name: "Discharge Summary", selected: 0 },
					{ name: "Appointments", selected: 0 },
				]
			},
			methods: {
				save: function () {
					alert(this.name + this.medicare + this.dob);
					window.location = "/home/select";
				},
				select: function (item) {
					item.selected = !item.selected;
				},
				next: function () {
					window.location = "/home/main";
				}
			}
		});


	</script>


}
